.ui.container.top.attached
  = link_to root_path, class: 'item header ' do
    = image_tag 'favicons/favicon-32x32.png'
    - unless @song
      %span.title Everchords

  - if @song
    .ui.simple.dropdown.item
      = @song.notebook.name
      %i.icon.dropdown
      .menu.notebooks
        - if @song.user == current_user
          - @song.notebook.songs.by_title.each do |song|
            .item
              = link_to song.title, user_song_path(current_user, song)

    .ui.simple.dropdown.item
      = @song.title
      %i.icon.dropdown
      .menu
        .item
          Key:
          %strong
            - if @song.key
              = link_to @song.key, @song.key_url, target: :blank
            - else
              = '-'
          - if @song.capo
            Capo:
            %strong
              = @song.capo
          Speed:
          %strong
            = @song.tempo && "#{@song.tempo}bpm" || '-'
        .item
          Chords:
          - @song.chords.each do |chord|
            %a{ tabindex: "0", role:"button", data: { html: "true", placement: 'bottom'} }
            %kbd= chord
        - if @song.capo
          .item
            Capo:
            %kbd= @song.capo
        - if @song.user == current_user
          .item
            = link_to song_path(@song), method: :put do
              %i.refresh.icon
              Refresh
          - if current_user.admin?
            .item
              = link_to '#', class: 'openDebugInfo' do
                %i.bug.icon
                Debug
          .item
            = link_to @song.evernote_url, target: :blank do
              %i.icon.external.alternate
              = t('.open_with_evernote')
          .item
            .ui.action.input{'data-controller' => 'clipboard' }
              = text_field_tag(:url, request.base_url + @song.share_url,  id: 'shareSongUrl', readonly: true, autofocus: true, 'data-clipboard-target' => "source" )
              = button_tag(class: "ui button right icon", 'data-action' => "clipboard#copy") do 
                %i.copy.icon

  - if current_user.present?
    .right.menu
      .ui.simple.right.item.search
        .ui.transparent.icon.input
          %input.prompt{ type: "text", placeholder: "Search …", accesskey: 't' }
            %i.search.icon
          

      .ui.simple.right.dropdown.item
        = current_user.username
        %i.dropdown.icon
        .more.menu
          = link_to t('.profile'), user_path(current_user), class: 'item'
          = link_to t('.songbooks'), root_path, class: 'item'
          = link_to t('.logout'), destroy_user_session_path, class: 'item'
    .results
  - else
    = link_to t('.about_us'), help_path, class: 'ui simple item'
    = button_to t('.login_with_evernote', provider: t("omniauth.providers.evernote")), user_evernote_omniauth_authorize_path, class: 'ui simple right dropdown item'

