.ui.menu
  .ui.container
    = link_to root_path, class: 'item header ' do
      Everchords

  .item



- if current_user.present?
  .ui.two.column.grid
    .row
      .column
        %h2 Originals
        = render 'songs/list', songs: @original_songs

      .column
        %h2 Songbook
        = render 'songs/list', songs: @songs


- else
  %div{ style: "margin-left:auto;margin-right:auto;" }
    .row
      .col-md-4.text-center
        .promo
          %i.fa.fa-pencil-square-o
        Write songs using
        %br
        ChordPro in Evernote
      .col-md-4.text-center
        .promo
          %i.fa.fa-sign-in
        Sign in using Evernote
      .col-md-4.text-center
        .promo
          %i.fa.fa-music
        Display Song beautifully
        %br
        with Everchords


    %h2= t('devise.sessions.new.sign_in')
    .text-center
      = link_to t('.login_with_evernote', provider: t("omniauth.providers.evernote")),
      user_evernote_omniauth_authorize_path, class: 'btn btn-primary btn-lg'
