- content_for :meta do
  %title= "#{@song.title} - Everchords"

.ui.main.container
  .song-container
    - @song.song_pro.sections.each do |section|
      .section
        %span.comment.text-muted
          = section.name
        - section.lines.each do |line|
          - if line.comment?
            %p
              %span.comment.text-muted= line.comment
          - else
            = build_line(line)
