- content_for :meta do
  %title= "#{@song.title} - Everchords"

.ui.main.fluid.container
  .song-container
    - @song.song_pro.sections.each do |section|
      .section.ui.ignored.message
        - if section.name.present?
          %span.comment.text-muted
            = section.name
          %br
        - section.lines.each do |line|
          - if line.comment?
            %span.comment.text-muted= line.comment
          - else
            = build_line(line)
          %br
- if can?(:read, :dashboard)
  = render 'debug'
= render 'shared/fretboard'