- content_for :meta do
  %title= "#{@song.title} - Everchords"

.ui.menu
  .ui.container
    = link_to root_path, class: 'item header ' do
      = @song.notebook.name -
      = @song.title
      %i.dropdown.icon

    .ui.simple.dropdown.item
      More
      %i.icon.dropdown
      .menu
        .item
          Chords:
          - @contained_chords.each do |chord|
            %a{ tabindex: "0", role:"button", data: { html: "true", placement: 'bottom'} }
            %kbd= chord['original_name']
        - if current_user && @song.user == current_user
          .item
            = link_to song_path(@song), method: :put do
              %i.refresh.icon
              Refresh
          .item
            .ui.icon.input
              %input#shareSongUrl{ type: "text", value: request.base_url+@song.share_url, readonly: true, autofocus: true }
              %i.share.link.icon

.song-container
  = @chord_lyrics.to_html.html_safe
