%html
  %head
    = render 'shared/meta'

  %body.minimal.basic
    .ui.menu.main.container
      = render 'shared/navigation'

      - if notice.present?
        .ui.success.message
          %p= notice
      - if alert.present?
        .ui.error.message
          %p= alert

    = yield
    = render 'shared/footer'

    = javascript_include_tag 'application'

