%html
  %head
    = render 'shared/meta'

  %body.minimal.basic
    .ui.menu.main.container
      = render 'shared/navigation'

    .ui.text.container
      = semantic_flash

    = yield
    = render 'shared/footer'

    = javascript_include_tag 'application'

